root = true

[*]
end_of_line          = lf
charset              = utf-8-bom
indent_style         = space
indent_size          = 4
insert_final_newline = true

[*.{xml,xaml}]

[*.{cs,vb}]
# async methods end in Async
dotnet_naming_symbols.method_symbols.applicable_kinds         = method
dotnet_naming_symbols.method_symbols.required_modifiers       = async

dotnet_naming_style.end_in_async_style.capitalization         = pascal_case
dotnet_naming_style.end_in_async_style.required_suffix        = Async

dotnet_naming_rule.async_methods_must_end_with_async.severity = warning
dotnet_naming_rule.async_methods_must_end_with_async.symbols  = method_symbols
dotnet_naming_rule.async_methods_must_end_with_async.style    = end_in_async_style

dotnet_style_qualification_for_event                          = false : suggestion
dotnet_style_qualification_for_field                          = false : suggestion
dotnet_style_qualification_for_method                         = false : suggestion
dotnet_style_qualification_for_property                       = false : suggestion

[*.cs]
csharp_indent_switch_labels = true
csharp_indent_case_contents = true
